.hero-btn{
    padding:15px 40px;
    background:#0099ff;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:0.3s;
}

.hero-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #0099ff;
}
